
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
}

.HeroContainer {    
  width: 30vw;
  height: 100vh;
  position: fixed;
  padding: 1.5rem;
  left: 0;
  top: 0; 
  border-right: 2px solid #e5e7eb;
  
  background-color: #fcfaf8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 900; 
  animation: fadeIn 1s ease-out forwards;
  
  @media (max-width: 768px) {
    width: 100vw;
    height: 60vh;
    
  }
}

.HeroUpper {
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    margin-bottom: -30%;
    justify-self: center;
    width: clamp(10px, 8vw, 350px);
    height: clamp(10px, 8vw, 350px);
    justify-self: center;
    border-radius: 50%;
    border: 3px solid #e5e7eb;
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
      width: clamp(10px, 20vw, 200px);
      height: clamp(10px, 20vw, 200px);
    }
    &:hover {
      transform: scale(2.5) rotate(360deg);
      animation: spin .5s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1.25);
  }
  to {
    transform: rotate(360deg) scale(1.25);
  }
}

.HeroTitle {
  display: flex;
  flex-direction: column;
  
  h1 {
    font-size: clamp(1px, 2.5vw, 70px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -5%;
    color: #192a51;
    
    @media (max-width: 768px) {
      font-size: clamp(2rem, 6vw, 3rem);
    }
  }

}

.HeroSubtitle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2.5%;
  
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    
  }
  .SecondPara {
    @media (max-width: 768px) {
      margin-top: -20%;
    }}
    h2 {
    font-size: clamp(.1rem, 0.5vh + 1vw, 1.7rem);
    line-height: 1.7;
    
    color: #6d597a;
    margin: 2rem 0;
    padding: 0 1vw;
    

    @media (max-width: 768px) {
      font-size: clamp(1px, 4vw, .75rem);
      
    }
  }
}
.SocialIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid #e5e7eb;
  @media (max-width: 768px) {
    padding: .5rem;
    
    margin-top: -10%;
  }

  .icons-group {
    display: flex;
    gap: 1vw; 
  }

  .icon {
    font-size: clamp(2rem, 3vw, 3.5rem); 
    color: #333;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-10px) ;
    }
  }

  .Pokemon {
    img {
      width: 8vw; 
      height: auto;
      
      @media (max-width: 768px) {
        width: 20vw;
      }
    }
  }

}
